body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 18px;
}
.content {
    text-align: justify;
}
.special-text {
font-family: Brush Script Std, cursive;
}

header, footer {
    width: 100%;
    padding: 2px; /*Уменьшение отступов*/
    background-color: #f8f9fa;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.05;
    /*min-height: 50px;*/ /*устанавливаем минимальную высоту*/
}

