{% extends 'base.html' %}

{% block title %}О Ней{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
      <h1>Жизнь!!!</h1>
    <h1></h1>
    <p> Вот зачем люди живут?<br>Кому-то действительно ...., наверное.<br>
    Говорят, что есть люди, которые ........<br>
    Ну, не знаю, может и есть такие, но для меня ......<br>
    А может они просто пытаются ......? </p>
    <p>
        Дар напрасный, дар случайный…
Дар напрасный, дар случайный,
Жизнь, зачем ты мне дана?
Иль зачем судьбою тайной
Ты на казнь осуждена?
Кто меня враждебной властью
Из ничтожества воззвал,
Душу мне наполнил страстью,
Ум сомненьем взволновал?..
Цели нет передо мною:
Сердце пусто, празден ум,
И томит меня тоскою
Однозвучный жизни шум.
1828 г.


    </p>

    <!-- Добавляем ссылку на главную страницу -->
    <a href="{{ url_for('home') }}" class="btn btn-primary">Вернуться на Главную страницу</a>
  </div>
{% endblock %}