{% extends 'base.html' %}

{% block title %}О НЁМ{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
      <h1>КРЫМ!!!</h1>
    <h1></h1>
    <p> Крым традиционно считается известным туристическим направлением.<br> Здесь и традиционный пляжный отдых <br>(и сервис с каждым годом становится все лучше).<br>
        И знаменитые санатории, путевки в которые позволяют отдохнуть и оздоровиться.<br> И активные туры с походами по горам Крыма.<br>
        И, конечно, поездка в Крым - это интереснейшие экскурсионные турпоездки,<br> во время которых можно посмотреть все основные<br>
        достопримечательности полуострова: Керчь, Феодосию, Коктебель, Массандру,<br> гора Ай-петри, Херсонес, Балаклаву, замок "Ласточкино гнездо",<br>
        Воронцовский дворец, Никитский ботанический сад и другие знаковые места Крыма. </p>


    <!-- Добавляем ссылку на главную страницу -->
    <a href="{{ url_for('home') }}" class="btn btn-primary">Вернуться на Главную страницу</a>
  </div>
{% endblock %}