{% extends 'base.html' %}

{% block title %}О ПРОЕКТЕ{% endblock %}

{% block content %}

    <h3></h3>
        <h6> Крым традиционно считается известным туристическим направлением. Здесь и традиционный пляжный отдых (качество сервиса растет).
        И знаменитые санатории, путевки в которые позволяют отдохнуть и оздоровиться. И активные туры с походами по горам Крыма.
        И, конечно, поездка в Крым - это интереснейшие экскурсионные турпоездки, во время которых можно посмотреть все основные
        достопримечательности полуострова: Керчь, Феодосию, Коктебель, Массандру, гору Ай-петри, Херсонес, Балаклаву, замок "Ласточкино гнездо",
        Воронцовский дворец, Никитский ботанический сад и другие знаковые места Крыма. </h6>

    <h3></h3>

 <!-- Слайдер с фотографиями -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3200">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
      <li data-bs-target="#carouselExampleControls" data-bs-slide-to="3"></li>
      <li data-bs-target="#carouselExampleControls" data-bs-slide-to="4"></li>
  </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/crimea.jpg') }}" class="d-block w-100" alt="Фото 1">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crimea_1.jpg') }}" class="d-block w-100" alt="Фото 2">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crimea_2.jpg') }}" class="d-block w-100" alt="Фото 3">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crimea_3.jpg') }}" class="d-block w-100" alt="Фото 4">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/crimea_4.jpg') }}" class="d-block w-100" alt="Фото 5">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
   <h3></h3>
    <a href="{{ url_for('home') }}" class="btn btn-primary">Вернуться на Главную страницу</a>
</div>
{% endblock %}