{% extends 'base.html' %}

{% block title %}ГЛАВНАЯ{% endblock %}

{% block content %}
    <h3>А.С. Пушкин о Крыме</h3>
<div class="d-flex">
    <!--Левый блок с поэмой-->
<div class="flex-grow-1">
        <p>
        {% for line in poem %}
        {{ line }}<br>
        {% endfor %}
    </p>
</div>

<!--Правый блок с изображением-->
    <div class="ml-3">
        <img src="{{url_for('static', filename='images/crimea_1.jpg')}}" alt="Изображение" class="img-fluid">
    </div>
</div>
  </div>
{% endblock %}